@model Libreria.Models.PersonaLibro

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>PersonaLibro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLibro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLibro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPersona }) |
    @Html.ActionLink("Regresar", "Index")
</p>
